body {
  margin: 0;
  padding: 0;
  background-color: #ffe1f0;
  font-family: sans-serif;
}
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 36px;
  text-align: center;
  color: #d60093;
}

.movie-list {
  margin-top: 20px;
}

.movie-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #d60093;
}

.movie-title {
  font-size: 24px;
  color: #d60093;
}

.movie-details {
  margin: 5px 0;
  font-size: 16px;
}

.movie-synopsis {
  font-style: italic;
}

.random-button {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  background-color: #d60093;
}

.random-movie {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #d60093;
}

.random-title {
  font-size: 20px;
  color: #d60093;
}